table tr th {
  text-align: right;
  border-radius: 0 !important;
}

table tr th:first-child {
  text-align: left !important;
}

table tr td {
  text-align: right;
}

table tr td:first-child {
  text-align: left !important;
}

.kv-toastify-danger {
  background: hsl(var(--er)/var(--tw-bg-opacity));
  color: hsl(var(--erc,var(--nc))/var(--tw-text-opacity));
  display: flex;
}

.kv-toastify-danger svg {
  margin-top: 0.042rem;
}
