table {
  font-size: 14px;
}

.loaded tr.loading {
    display: none;
}

.loading tr.content {
    display: none;
}

table tr th {
  text-align: right;
  border-radius: 0 !important;
}

table tr th:first-child {
  text-align: left;
}

table tr td {
  text-align: right;
}

table tr td:first-child {
  text-align: left !important;
}

.kv-toastify-danger {
  background: hsl(var(--er)/var(--tw-bg-opacity));
  color: hsl(var(--erc,var(--nc))/var(--tw-text-opacity));
  display: flex;
}

.kv-toastify-danger svg {
  margin-top: 0.042rem;
}

.header-mode .group div {
    border-radius: 0;
    --tw-shadow: 0 0 0 #3b71ca, 0 -1px 0 0 #3b71ca, 0 1px 0 0 #3b71ca !important;
    border-color: #e5e7eb;
    border-right: none;
}

.header-mode .group div:nth-child(1) {
  display: none;
}

.delay-init label {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-translate-y: -0.9rem;
  --tw-scale-x: 0.8;
  --tw-scale-y: 0.8;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity)) !important;
}

.delay-init input[data-te-input-focused] + label {
   --tw-text-opacity: 1;
   color: rgb(37 99 235 / var(--tw-text-opacity)) !important;
}

.delay-init .group div:nth-child(1) {
  border-right-width: 0px;
}

.delay-init .group div:nth-child(2) {
  border-top-color: transparent;
  border-style: solid;
  border-top-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
}

.delay-init .group div:nth-child(3) {
  border-left-width: 0px;
}

.ts-control {
  outline: none !important;
  background: none !important;
}

.shadow-md-strong {
    box-shadow: 0 1px 5px #0003, 0 2px 2px #00000024, 0 3px 1px -2px #0000001f;
}
