table tr th {
  text-align: right;
  border-radius: 0 !important;
}

table tr th:first-child {
  text-align: left !important;
}

table tr td {
  text-align: right;
}

table tr td:first-child {
  text-align: left !important;
}

.kv-toastify-danger {
  background: hsl(var(--er)/var(--tw-bg-opacity));
  color: hsl(var(--erc,var(--nc))/var(--tw-text-opacity));
  display: flex;
}

.kv-toastify-danger svg {
  margin-top: 0.042rem;
}

.table :where(th, td) {
  white-space: inherit;
  padding: 1rem;
  vertical-align: middle;
}

.header-mode {
  margin-bottom: 0;
}

.header-mode .ts-control {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
}

.ts-control {
  outline: none !important;
}
